<br><br>
<div class="addProduct">
    <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Product Name</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="Enter product name">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Quantity Available</label>
          <div class="col-sm-1">
            <input type="text" class="form-control"  placeholder="Enter Quantity Available">
          </div>
        </div>
        <br>
        <div class="form-group row">
           <label class="col-sm-2 col-form-label">Price</label>
           <div class="col-sm-1">
            <input type="text" class="form-control"  placeholder="Enter Quantity Available">
          </div>
        </div>
        <br>
        <div class="form-group row">
           <label class="col-sm-2 col-form-label">Description</label>
           <div class="col-sm-1">
            <textarea class="form-control"  placeholder="Enter Product Description"></textarea>
           </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>
